@charset "utf-8";

@media screen and (min-width:768px) and (max-width:1024px) {

.header_top, .gnb > ul, .free_ex article, .shop_slide,
.story article, .instar, .f_navie, .f_info, address{
   width:100%;
 }

.header_top > h1{left:20px;}
.free_ex article > h3 + img{padding:10px;}
.free_ex_right{padding:0;}
.free_ex_right > h3{padding-bottom:25px;}
.free_ex_right >p{font-size:16px;}

.shop{width:100%;}
.shop_slide{padding-bottom:240px;}


.pro > ul > li img:hover{transform:none;}

.gallery{grid-template-rows: repeat(3, 179.5px);}
footer{width:100%;}
footer >  div{
    padding: 10px 0px 35px 90px;
  }
.sns{transform: translateY(-110px);}
.top{display:none;}
.info{
  clear:left;
  text-align:center;
}
.swiper-slide > ul > li img{
  transform: translateX(55px);
}
.swiper-slide > ul > li{padding-left:40px;}
}